@model IEnumerable<TaxiService.WebApp.Models.Order>
@using Microsoft.AspNet.Identity
@using Roles = TaxiService.WebApp.Models.Roles

@{
    ViewBag.Title = "Заявки";
}

<h2>Заявки</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Откуда
        </th>
        <th>
            Куда
        </th>
        <th>
            Когда
        </th>
        <th>
            Статус
        </th>
        <th>
            Водитель
        </th>
        <th>
            Создано
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id })

                    if (User.IsInRole(Roles.Admin.ToString()))
                    {
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    }
                }
            </td>
        </tr>
    }

</table>
